	
		*{
			margin: 0px;
			padding: 0px;
		}

		canvas{
			background-color: #DFF3F9;
			display: block;
			margin: 0px auto;
		}

		canvas+div{
			display: table;
			margin: 25px auto;
			border-spacing: 10px 0px;
		}

		#contenedor_imag{
			width: 50%;
                        height: 50%;
			border: 2px solid white;
		}
                
                .botonenviar{
                    font-size: 24px;
                    font-weight: bold;
                    /*color: #E8F2F5;*/
                    background-color: #013545;
                }
                
                .botonenviar:hover{
                    color: #92CFE3;
                }
                
                figure{
                    margin: 0 20px;
                    width: 60px;
                }
                
                figcaption{
                    text-align: center;
                    width: 60px;
                }
                .input-group{
                    width: 100% !important;
                } 
                .input-group-addon{
                    width:7% !important;
                }
/*                .input-group-text{
                     width:10% !important;
                }*/
                
/*                .input{
                    width: 70% !important;
                }*/
                
          
                
		#botones{
			display: flex;
			justify-content: center;
		}

		button{
			width: 60px;
			height: 60px;
			margin: 10px;
			border-radius: 100%;
			color: white;
			background-color: #5bc0df;
			border: 2px solid #5bc0df;
		}
		#confirmar{
			display:none;
			font-size: 18px;
			font-weight: bold;

		}

		h3{
			text-align: center;
		};

		#contenedorCanvas{
			display:none;
		}
		#cerrar_Ventana_firma{
		  text-align: right;
  		  padding-top: 10px;
		}
		#cerrar_firma{
			cursor:pointer;
		}
