.opciones{
  border-radius: 5px;
  background:#5bc0de;
  color:white;
  font-size:20px;
  padding:5px;
  cursor:pointer;
   margin:5px;
}
.cabecera{
	text-align: center;
}

.datos_personales, .direccion, .banco, .portabilidades, .enviar{
	padding-bottom: 20px;
}
  

canvas{
    border:2px solid #5bc0df;
}
.textoazul{
	color: #5ec9e9;
	font-weight: bold;
}
#cerrar_Ventana_firma{
      text-align: right;
        padding-top: 10px;
    }
